@page "/"


<PageTitle>Library Manager</PageTitle>



<div class="text-center">
    <h1>Bem-vindo</h1>
    <h3>Sistema de Gerenciamento de Biblioteca</h3>

    <p>
        Acesso o menu de livros para ter acesso ao nosso catálogo, fique a vontade para alugar algum livro caso tenha interesse e esteja disponível!!
    </p>
    <img src="fundo.webp" height="600px" alt="">
</div>